.wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  //   max-width: 352px;
  width: 352px;
  max-height: 480px;
  height: 480px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  align-self: center;
  margin: 0 auto;
  border-radius: 8px;
  padding: 12px 16px;

  .title {
    //   font-family: SF Pro;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: #171a1f;
  }

  .wrapInner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
