.iconsWrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100px;
  flex: 0 1 auto;

  .title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: #171a1f;
  }
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 8px;
    font-size: 22px;
    cursor: pointer;
  }
}
